body {
  background-color: #fdfffc;
}

.complete:1st-child {
  color: #235789;
  text-decoration: line-through;
}

.todoItem {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.entryForm {
  display: grid;
  grid-template-columns: 70% 20%;
}

.twoButtons {
  display: grid;
  grid-template-columns: 45% 45%;
}

.threeButtons {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
