body {
  background-color: #fdfffc;
}

.todoItem.hidden {
  display: none;
}

.complete p {
  color: #235789;
  text-decoration: line-through;
}

.todoItem {
  display: grid;
  padding: 5%;
  grid-template-columns: 50% 20% 20%;
}

.entryForm {
  display: grid;
  padding: 5%;
  grid-template-columns: 70% 20%;
}

.twoButtons {
  display: grid;
  padding: 5%;
  grid-template-columns: 45% 45%;
}

.threeButtons {
  display: grid;
  padding: 5%;
  grid-template-columns: 30% 30% 30%;
}
